<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SMART PLUG SERVER</title>
    </head>
    <body>
        <h1>Server Running</h1>
        {% if is_login %}
        <h2>Hi {{ display_name }}!</h2>
        <form action="{{ url_for('web.logout') }}" method="GET">
            <button type="submit">登出</button>
        </form>
        {% else %}
        <h2>Hi Guest!</h2>
        <form action="{{ url_for('web.line_login') }}" method="GET">
            <button type="submit">使用Line登入</button>
        </form>
        {% endif %}

    </body>
</html>